<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅방 리스트</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body>
    <h1>채팅방 리스트</h1>
    {% if chatting_rooms %}
        <ul>
        {% for chatting_room in chatting_rooms %}
            <li>
                <a href="{{ url_for('chat.chatting_room', user_id=chatting_room.user_id, chat_id=chatting_room.chat_id) }}">
                {{chatting_room.user.user_name}}님의 채팅방 {{chatting_room.created_at}} 
                </a>
                {% if chatting_room.is_end %} 대화 종료됨 {% else %} 대화 중 {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>채팅방이 없습니다.</p>
    {% endif %}
    <a href="{{ url_for('auth.logout') }}">로그아웃</a>
    <a href="{{ url_for('chat.create_room', user_id=g.user.user_id) }}">채팅방 만들기</a>
    
    <script type="text/javascript" charset="utf-8">

        var socket = io('/notification');
        var notification_num = 0;

        socket.on('connect', function () {
            console.log('connect notification');
        });

        function send_notification() {
            socket.emit('send_notification');
        }

        window.onload = function() {
            setInterval(send_notification, 3600000);
        }

        socket.on('notification', function(data) {
            console.log('notification')
            notification_num += 1;
            if (Notification.permission === 'granted') {
                showNotification(data.message);
            } else if (Notification.permission !== 'denied') {
                Notification.requestPermission().then(permission => {
                    if (permission === 'granted') {
                        showNotification(data.message);
                    }
                });
            }
            if (notification_num > 3)
            {
                socket.emit('send_mail');
                notification_num = 0;
            }
        });

        function showNotification(message) {
            var notification = new Notification(message);
            notification.onclick = function() {
            
                notification.close();
                notification_num -= 1;
                //document.location.reload();
            };
        }
    </script>
</body>

</html>
