<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대화하기</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link rel="stylesheet" href="/static/chatting_room.css" type='text/css'>

</head>

<body>
    <div class="container">
        <div class="header">
            <button id="hello-world" class="nav-button">Hello World</button>
            <button id="hellow-world" class="nav-button">Hello world</button>
            <button id="chatbot-streaming" class="nav-button active">Chatbot Streaming</button>
            <button id="hello-world" class="nav-button">Hello world</button>
        </div>
        <div class="chat-container">
            <div id="responseBox" class="chatbox">
                {% block content %}
                {% endblock %}
            </div>
            <div class="controls">
                <button id="startRecord" class="control-button" {% if g.chat.is_end %} disabled {% endif %}>Start Recording</button>
                <button id="stopRecord" class="control-button" disabled="true">Stop Recording</button>
            </div>
            <form onsubmit="return sendMessage();">
                <select id="ai_option">
                    <option value="openai">openai</option>
                    <option value="gemini">gemini</option>
                    <option value="debugging">하지만 빨랐죠</option>
                </select>
                <div class="input-container">
                    <input type="text" id="message-input" placeholder="Type a message...">
                    <button id="send" class="send-button" {% if g.chat.is_end %} disabled {% endif %}>Send</button>
                </div>
            </form>
        </div>
    </div>
    <div>
        <button id='end_chat', class='send-button' {% if g.chat.is_end %} disabled {% endif %}>대화 종료하기</button>
    </div>

    <script type="text/javascript" charset="utf-8">
        var socket = io();

        socket.on('connect', function () {
            //socket.emit('connect', { data: 'I\'m connected!' });
            console.log('connect start');
        });

        socket.on('alert', function (msg) {
            console.log(msg)
            const responseBox = document.getElementById('responseBox')
            responseBox.innerHTML = ''
            responseBox.innerHTML += '<p>Alert: ' + 'connected' + '</p>';
            for(const m of msg.data)
            {
                responseBox.innerHTML += '<p>' + m[0] + ': ' + m[1] + '</p>';
            }
        });

        socket.on('ai_response', function (msg) {
            console.log(msg);
            const conversations = document.getElementById('responseBox');
            conversations.innerHTML += '<p>Assistant: ' + msg.data + '</p>';
            const audioElement = document.createElement("audio");
            audioElement.src = 'data:audio/mp3;base64,'+msg.audio; // 오디오 파일 경로 설정
            audioElement.controls = false; // 재생 컨트롤 표시
            audioElement.autoplay = true; // 자동 재생 여부 설정
            audioElement.loop = false; // 반복 재생 여부 설정
            audioElement.addEventListener('ended', () => {
                audioElement.removeAttribute('autoplay');
              });
            conversations.appendChild(audioElement);
        });

        socket.on('user_input', function(msg) {
            console.log(msg);

            const ai_option = document.getElementById('ai_option').value;
            const data = msg.data;
            document.getElementById('responseBox').innerHTML += '<p>User: ' + data + '</p>';
            socket.emit('user_send', { data, ai_option });
        })
        
        function sendMessage() {
            const ai_option = document.getElementById('ai_option').value;
            const data = document.getElementById('message-input').value;
            document.getElementById('responseBox').innerHTML += '<p>User: ' + data + '</p>';
            socket.emit('user_send', { data, ai_option });
            document.getElementById('message-input').value = '';
            return false;
        }

        let mediaRecorder;
        let audioChunks = [];

        document.getElementById('end_chat').addEventListener('click', async () => {
            socket.emit('end_chat');
            document.getElementById('responseBox').innerHTML += '<p>대화가 종료되었습니다.</p>';
        });

        document.getElementById('startRecord').addEventListener('click', async () => {
            // Request user permission for audio
            const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
            mediaRecorder = new MediaRecorder(stream);

            mediaRecorder.ondataavailable = event => {
                audioChunks.push(event.data);
            };

            mediaRecorder.onstop = () => {
                const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                const audioUrl = URL.createObjectURL(audioBlob);
                // document.getElementById('audioPlayback').src = audioUrl;

                // Send the audioBlob to the server
                sendAudioToServer(audioBlob);
                audioChunks = [];
            };

            mediaRecorder.start();
            document.getElementById('startRecord').disabled = true;
            document.getElementById('stopRecord').disabled = false;
        });

        document.getElementById('stopRecord').addEventListener('click', () => {
            mediaRecorder.stop();
            document.getElementById('startRecord').disabled = false;
            document.getElementById('stopRecord').disabled = true;
        });

        function sendAudioToServer(blob) {
            const reader = new FileReader();
            reader.onload = function(event){
                const base64Audio = event.target.result;
                socket.emit('audio_data', base64Audio); // Send audio data as base64
            };
            console.log('send audio')
            reader.readAsDataURL(blob);
        }

    </script>
</body>

</html>
